/*内容 Begin*/
body{
	font-family: 华文楷体;
}

/*banner*/
.banner{
	position: relative;
	z-index: 99999999;
}

/*banner 图片*/
.swiper-container,.swiper-wrapper,.swiper-slide,.swiper-slide img{
	width: 100%;
	zoom: 100%;
}

/*banner 按钮*/
.pagination{
	position: absolute;
	bottom: 100px;
	left: 50%;
	margin-left: -246px;
	z-index: 9999;
}
.swiper-pagination-switch{
	width: 122px;
	height: 20px;
	border-radius: 0;
	margin-right: 42px;
	display: inline-block;
	background-color: #b7b7b7;
	cursor: pointer;
}
.swiper-active-switch{
	background-color: #007efc;
}

/*about Us*/
.aboutBox{
	position: relative;
	margin-top: -150px;
	width: 100%;
	z-index: 99999;
}
.about_box{
	background-color: #1ab7f0;
	width: 100%;
	position: relative;
	padding-bottom: 20px;
	z-index: 99999;
}
.about_bg{
	width: 100%;
	position: relative;
	z-index: 999999;
}
.about_bg,.about_bg img,.service_bg img{
	width: 100%;
}
.tittle_h1{
	padding-top: 200px;
	font-size: 48px;
	color: #fff;
	text-align: center;
}
.tittle_h2{
	font-size: 36px;
	color: #000;
	margin-bottom: 38px;
	margin-top: 55px;
}
.aboutUs_tex p{
	font-family: 华文宋体;
	font-size: 24px;
	line-height: 40px;
	text-indent: 2em;
	margin-bottom: 14px;
}
.aboutUs_tex{
	display: none;
	height: 500px;
	_height: 560px;
	*height: 560px;
}
.abAct{
	display: block;
}
.explain{
	background:  0 0 url("../img/about_btn_bg.png") no-repeat;
	width: 60px;
	text-align: right;
	padding: 26px 8px;
	position: absolute;
	right: 0;
	bottom: 200px;
	z-index: 99999999;
}
.tb{
	display: inline-block;
	font-size: 36px;
	font-family: 华文楷体;
	line-height: 49px;
	color: #fff;
	cursor: pointer;
}
.tb_act{
	color: #f0f902;
}
.tb_us{
	margin-top: 28px;
}

/*SERVICE   PROCESS*/
.serviceBox{
	width: 100%;
	margin-top: -150px;
	padding-bottom: 20px;
	position: relative;
	z-index: 999;
}
.service_box{
	width: 100%;
	background-color: #f3f3f3;
}
.tittle_service{
	margin-bottom: 38px;
}
.tittle_service .tittle_h1{
	color: #00070a;
}
.citingBox{
	background:  left -98px url("../img/index_sprite.png") no-repeat;
	padding-left: 10px;	
	float: right;
	margin-top: 20px;
}
.citingBox_2{
	background:  right -168px url("../img/index_sprite.png") no-repeat;
	padding-right: 10px;
	_padding-right: 11px;
	float: left;
	margin-top: 20px;
}
.tian{
	background-color: #14a4ee;
	height: 66px;
	line-height: 66px;
	width: 360px;
	text-align: center;
	font-size: 36px;
	font-family: 华文楷体;
}

/*OUR   CASES 例子*/
.ourBox{
	width: 100%;
	margin-top: -170px;
}
.our_box{
	background-color: #3b3d3f;
	padding-bottom: 40px;
}
.our_tittle{
	padding-top: 10px;
}
.our_list{
	width: 100%;
}
.our_list li{
	display: inline-block;
	width: 33%;
	text-align: center;
	margin-top: 54px;
}
.our_list a{
	display: inline-block;
}
.our_list i{
	display: block;
	width: 100%;
	text-align: center;
	white-space: nowrap;
	font-size: 36px;
	padding-top: 26px;
	line-height: 34px;
}
.our_list img{
	display: inline-block;
}

/*WHY   CHOOSE    US 选择我们*/
.choose_titthle .tittle_h1{
	color: #02acfc;
}
.chooseBox{
	width: 100%;
	margin-top: -150px;
	padding-bottom: 60px;
	position: relative;
	z-index: 99999;
}
.choose_box{
	position: relative;
	z-index: 9999;
	padding-bottom: 70px;
	width: 100%;
} 
.choose_list{
	padding-left: 4%;
	padding-right: 32px;
	font-family: "微软雅黑";
	padding-bottom: 24px;
}
.choose_list h3{
	text-align: center;
    font-size: 24px;
    line-height: 36px;
    margin-top: 30px;
    margin-bottom: 20px;
    font-weight: bold;
}
.choose_list h4{
	font-size: 18px;
	font-weight: bold;
	line-height: 36px;
}
.choose_list p{
	font-size: 20px;
	line-height: 34px;
}

/*CONTACT  US 联系我们*/
.contactBox{
	width: 100%;
	position: relative;
	z-index: 9;
}
.contact_img{
	width: 100%;
	position: absolute;
	margin-top: -140px;
	top: 0;
	z-index: 0;
}
.contactBox .contact{
	display: inline-block;
	text-align: center;
	height: 70px;
	line-height: 70px;
	color: #41a0fa;
	font-size: 48px;
	background-color: #fff;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	margin-top: 18%;
	margin-bottom: 6%;
	margin-left: 21%;
	padding: 0 20px;
	letter-spacing: 6px;
	position: relative;
}
.contactBox .contact:hover{
	background-color: #41a0fa;
	color: #fff;
}
/*map 地图*/
.mapBox{
	width: 100%;
	margin-top: -20px;
	overflow: hidden;
	position: relative;
}
#map{
	display: block;
	width: 100%;
}
.mapL{
	display: inline-block;
	width: 6%;
	position: absolute;
	top: 44.2%;
	left: 44.5%;
	margin-left: -3%;
}
.mapL img{
	width: 100%;
	position: relative;
}

/*内容 End*/
.texCen img{
	display: inline-block;
	width: 100%;
	margin-top: 60px;
	margin-bottom: 28PX;
}

/* 媒体查询 */
@media screen and (max-width: 1300px){
    
    .mapBox{
    	margin-top: -50px;
    }
    .contactBox{
    	margin-top: -147px;
    }
    .explain{
    	bottom: 80px;
    }
    .mat{
    	margin-top: 480px;
    }
    .choose_list{
    	padding-bottom: 180px;
    }
}


.mapBox img,.our_bg img,.choose_bg img{
	width: 100%;
}