/*我的地址*/
.mui-content{background-color: #f0efef;}
.w18p{width: 18%;margin: 0 auto;}
.padT180{padding-top: 180px;}
.mart40{margin-top: 40px;}
.add-box{border-top: 2px solid #e1e1e1;height: 44px;line-height: 44px;position: fixed;bottom: 0;}
a.add-address{color: #26a1e3;font-size: 18px;}
