/*购物车*/
.mui-content{background-color: #f0efef;}
.w32p{width: 32.93%;margin: 0 auto;}
.padT90{padding-top: 90px;}
.mart30{margin-top: 30px;}
.mart24{margin-top: 24px;}
a.goshop{color: #828181;font-size: 16px;border: 1px solid #818386;padding: 8px 32px;border-radius: 4px;-webkit-border-radius: 4px;}
